.cart-container {
    padding: 20px;
  }
  
  mat-table {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  button {
    margin-top: 20px;
  }
  