<mat-toolbar color="primary">
    <span>My Cart</span>
  </mat-toolbar>
  
  <div class="cart-container">
    <mat-table [dataSource]="cartItems" class="mat-elevation-z8">
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{ item.title }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{ item.price | currency }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let item">
          <button mat-button color="warn" (click)="removeFromCart(item)">Remove</button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
    <div class="total">
      <p>Total: {{ getTotalPrice() | currency }}</p>
      <button mat-raised-button color="primary" (click)="checkout()">Checkout</button>
    </div>
  </div>
  